@import url("https://fonts.googleapis.com/css2?family=Jura&family=Kadwa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset;
  display: contents;
}

:root {
  --grey: #eeeeeb;
  --black: #2a2d34;
  --blue-light: #96c9dc;
  --green: #c5e0d8;
  --blue: #239fc0;
  --title-font: "Kadwa", serif;
  --main-font: "Jura", sans-serif;
}

body {
  background-color: var(--grey);
}
